<header class="header">
  <div class="logo">
    <h1>benyaparim v2</h1>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a
          routerLink="/signup"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Signup</a
        >
      </li>
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li>
        <a
          routerLink="/playground"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Playground</a
        >
      </li>
      <li>
        <a
          routerLink="/northwind"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Northwind</a
        >
      </li>
    </ul>
  </nav>
  <button class="menu-toggle">Menü</button>
</header>
